[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:doug/snipmate-snippets.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:doug/snipmate.vim.git
[submodule "bundle/open-browser"]
	path = bundle/open-browser
	url = https://github.com/tyru/open-browser.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/rosstimson/scala-vim-support.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
[submodule "bundle/greplace"]
	path = bundle/greplace
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "bundle/vim-proto"]
	path = bundle/vim-proto
	url = https://github.com/garyharan/vim-proto.git
[submodule "bundle/vim-dart"]
	path = bundle/vim-dart
	url = git://github.com/bartekd/vim-dart.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/golang"]
	path = bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
